/*SOURCE: https://webgpufundamentals.org/webgpu/lessons/webgpu-cameras.html*/
html, body {
  margin: 0;       /* remove the default margin          */
  height: 100%;    /* make the html,body fill the page   */
}

canvas {
  display: block;
  width: 100%;  
  height: 100%;
  background-color: rgb(20, 20, 20);
}