html, body {
  margin: 0;        
  height: 100%;  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

canvas {
  display: block;
  width: 100%;  
  height: 100%;
  background-color: rgb(20, 20, 20);
}

.console-container {
  position: fixed;
  top: 20px;           
  right: 20px;       
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  z-index: 1000;    
}

#close {
  background-color: rgba(100, 100, 200, 0.5); 
  color: white;
  border: none;
  font-size: 14px;
  width: 28px; 
  height: 28px;
  text-align: center;
  line-height: 26px;
  border-radius: 4px; 
  cursor: pointer; 
}

.console {
  padding: 10px; 
  background-color: rgba(12, 12, 12, 0.3); 
  border-radius: 6px; 
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.console-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.console-button-container > button {
  background: none;
  border: none;
  cursor: pointer;
  background-color: rgba(61, 61, 61, 0.3);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console-button-container > button:hover {
  background-color: rgba(111, 101, 114, 0.3);
}


#start:hover {
  background-color: #3c7b3c;
}

#stop:hover {
  background-color: #1057aa;
}

#restart:hover {
  background-color: #866c15;
}

#reload:hover {
  background-color: #b32419;
}

.console-button-container > button > img {
  width: 24px;
  height: 24px;
  opacity: 0.8;
}

.console-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  justify-content: center;
  align-items: center;
  width: 200px;
}

.console-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}


.input-label {
  font-size: 12px;
  color: #e0e0e0; 
  margin-bottom: 4px;
  width: 70%;
}

.input-input {
  max-width: 30%;
  padding: 5px;
  border: 1px solid #666; 
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2); 
  color: #fff;
  text-align: right;
}

output{
  width: 60px;
  background-color: red;
}

.input-input:focus {
  outline: none;
}

.console-coordinates-table {
  margin-top: 10px;
  display: flex;
}

.coordinates-table {
  border-collapse: collapse;
  background-color: rgba(34, 34, 34, 0);
  border: 1px solid #666;
  border-radius: 4px;
  overflow: hidden;
  max-width: 200px;
  width: 100%;
}

.coordinates-header-cell,
.coordinates-cell {
  padding: 5px 0px;
  padding-right: 5px;
  text-align: center;
  color: #e0e0e0;
  font-size: 14px;
}

.coordinates-header-cell {
  font-weight: bold;
}

.coordinates-cell{
  text-align: left;
}


.coordinates-input {
  width: 80%;
  padding: 5px;
  border: 1px solid #777;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
  font-size: 12px;
}


.coordinates-input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.stats-display {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.fps, .logger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.fps p, .logger p {
  margin: 0;
}

.fps p:first-child, .logger p:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-right: 5px;
}

.fps p:last-child, .logger p:last-child {
  font-size: 14px;
  color: #aaa;
}
