body {
  background-color: whitesmoke;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.page-console {
  margin-left: 20px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 14px;
  border: 2px solid gray;
  width: 285px;
  min-width: 285px;
  max-width: 285px;
}

canvas {
  border-radius: 8px;
  background-color: black;
  border: 5px solid rebeccapurple !important;
}
button {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px 25px;
  border: 0;
  border-radius: 14px;
  font-size: 13px;
  font-weight: bold;
  width: 100px;
  margin: 5px;
}

.console-buttons {
  padding: 20px;
  width: 79%;
}

button:hover {
  background-color: #424242;
}

#start {
  background-color: darkgreen;
}

#start:hover {
  background-color: seagreen;
}

#stop {
  background-color: #bb550d;
}

#stop:hover {
  background-color: #dc4d01;
}

#reset {
  background-color: midnightblue;
}

#reset:hover {
  background-color: royalblue;
}

#reload {
  background-color: darkred;
}

#reload:hover {
  background-color: brown;
}
.console-speed-slider {
  display: flex;
  flex-direction: row;
}

.console-speed-slider p {
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}

.console-speed-slider input {
  border: 10px solid white;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.particle-counter {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

#particle-counter-text {
  font-weight: bold;
  margin-right: 10px;
  padding: 10px;
  padding-left: 0;
}

#particle-counter-value {
  border: 1px solid grey;
  background-color: beige;
  padding: 8px 20px 8px 20px;
  width: 50px;
  text-align: center;
}

.particle-number-setter {
  display: flex;
  padding: 10px;
  min-width: 100%;
  justify-content: center;
}

#particle-number-setter-value {
  border: 1px solid grey;
  background-color: beige;
  min-width: 50%;
  text-align: center;
  padding: 8px 20px 8px 20px;
}
#particle-number-setter-value:focus {
  outline: none !important;
  border: 1px solid thistle;
}

.borders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  border: 2px solid grey;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 30px;
}

.borders {
  padding: 20px;
}

.borders:nth-child() {
  rotate: 90%;
}

.border-item {
  margin: 5px;
  background-color: #222;
  border: 1px solid transparent;
  width: 40px;
  height: 7px;
  position: relative;
  border-radius: 8px;
}

.border-item-selected {
  margin: 5px;
  width: 40px;
  height: 7px;
  position: relative;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid orangered;
}

.border-item:hover {
  background-color: transparent;
  border: 1px solid grey;
}
.border-item-selected:hover {
  background-color: grey;
  border: 1px solid grey;
}
/*top*/
.borders .border-item:nth-child(1) {
  transform: rotate(180deg);
  top: -10px;
  left: 1px;
}

/*right*/
.borders .border-item:nth-child(3) {
  transform: rotate(90deg);
  left: 26px;
  bottom: 14px;
}

/*bottom*/
.borders .border-item:nth-child(4) {
  transform: rotate(360deg);
  left: 1px;
  bottom: 3px;
}

/*left*/
.borders .border-item:nth-child(2) {
  transform: rotate(270deg);
  right: 24px;
}

/*top*/
.borders .border-item-selected:nth-child(1) {
  transform: rotate(180deg);
  top: -10px;
  left: 1px;
}

/*right*/
.borders .border-item-selected:nth-child(3) {
  transform: rotate(90deg);
  left: 26px;
  bottom: 14px;
}

/*bottom*/
.borders .border-item-selected:nth-child(4) {
  transform: rotate(360deg);
  left: 1px;
  bottom: 3px;
}

/*left*/
.borders .border-item-selected:nth-child(2) {
  transform: rotate(270deg);
  right: 24px;
}
