body {
  background-color: #283845;
  font-family: "Courier New", Courier, monospace;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.page-console {
  margin-left: 12px;
  background-color: #1b2631;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  width: 295px;
  min-width: 295px;
  max-width: 295px;
  color: #ffafc5;
  box-shadow: 3px 3px 3px rgba(29, 24, 24, 0.15);
}

canvas {
  border-radius: 2px;
  background-color: black;
  border: 5px solid #1b2631 !important;
}
button {
  background-color: black;
  text-align: center;
  color: whitesmoke;
  padding: 10px 25px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  width: 100px;
  margin: 5px;
}

.console-buttons {
  padding: 20px;
  width: 79%;
}

button:hover {
  background-color: #363636;
}

#start {
  background-color: #448e44;
}

#start:hover {
  background-color: #3c7b3c;
}

#stop {
  background-color: #d42d20;
}

#stop:hover {
  background-color: #b32419;
}

#reset {
  background-color: #374ead;
}

#reset:hover {
  background-color: #293d8a;
}

#reload {
  background-color: #1669c9;
}

#reload:hover {
  background-color: #1057aa;
}

.console-speed-slider {
  display: flex;
  flex-direction: row;
  width: 285px;
}

.console-speed-slider p {
  font-size: 14px;
  margin-right: 10px;
}

.console-speed-slider input {
  border: 10px solid white;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.particle-counter {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  width: 250px;
  height: 53px;
}

#particle-counter-text {
  margin-right: 10px;
  padding: 10px;
  padding-left: 0;
}

#particle-counter-value {
  border: 1px solid grey;
  background-color: beige;
  padding: 8px 20px 8px 20px;
  width: 50px;
  text-align: center;
  color: #283845;
  height: 15px;
}

.particle-number-setter {
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 14px;
}

#particle-number-setter-text {
  font-size: 14px;
  margin-right: 20px;
}

#particle-number-setter-value {
  border: 1px solid grey;
  background-color: beige;
  width: 50px;
  height: 15px;
  text-align: center;
  padding: 8px 20px 8px 20px;
}
#particle-number-setter-value:focus {
  outline: none !important;
  border: 1px solid thistle;
}

.gravity-setter {
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 14px;
}

#gravity-setter-text {
  font-size: 14px;
  margin-right: 45px;
}

#gravity-setter-value {
  border: 1px solid grey;
  background-color: beige;
  width: 50px;
  height: 15px;
  text-align: center;
  padding: 8px 20px 8px 20px;
}
#gravity-setter-value:focus {
  outline: none !important;
  border: 1px solid thistle;
}

.resistance-setter {
  display: flex;
  align-items: center;
  width: 250px;
  font-size: 14px;
}

#resistance-setter-text {
  font-size: 14px;
  margin-right: 95px;
}

#resistance-setter-value {
  border: 1px solid grey;
  background-color: beige;
  width: 50px;
  height: 15px;
  text-align: center;
  padding: 8px 20px 8px 20px;
}
#resistance-setter-value:focus {
  outline: none !important;
  border: 1px solid thistle;
}

.setters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.borders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  margin: 10px;
  margin-top: 30px;
  width: 250px;
  box-shadow: 3px 3px 3px rgba(29, 24, 24, 0.3);
  background-color: #1f2f3f;
  padding-bottom: 10px;
}

.borders {
  padding: 20px;
  margin-top: 10px;
}

.borders:nth-child() {
  rotate: 90%;
}

.border-item {
  margin: 5px;
  background-color: #aaa;
  border: 1px solid transparent;
  width: 80px;
  height: 7px;
  position: relative;
}

.border-item-selected {
  margin: 5px;
  width: 80px;
  height: 7px;
  position: relative;
  background-color: transparent;
  border: 1px solid #aaa;
}

.border-item-selected:hover {
  background-color: transparent;
  border: 1px solid #ffafc5;
}
.border-item:hover {
  background-color: #ffafc5;
  border: 1px solid #ffafc5;
}
/*top*/
.borders .border-item:nth-child(1) {
  top: -30px;
  left: 1px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}
/*right*/
.borders .border-item:nth-child(3) {
  transform: rotate(90deg);
  left: 46px;
  bottom: 13px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

/*bottom*/
.borders .border-item:nth-child(4) {
  transform: rotate(180deg);
  left: 1px;
  bottom: -19px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

/*left*/
.borders .border-item:nth-child(2) {
  transform: rotate(270deg);
  right: 45px;
  top: 1px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

/*top*/
.borders .border-item-selected:nth-child(1) {
  top: -30px;
  left: 1px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

/*right*/
.borders .border-item-selected:nth-child(3) {
  transform: rotate(90deg);
  left: 46px;
  bottom: 13px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

/*bottom*/
.borders .border-item-selected:nth-child(4) {
  transform: rotate(180deg);
  left: 1px;
  bottom: -19px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}

/*left*/
.borders .border-item-selected:nth-child(2) {
  transform: rotate(270deg);
  right: 45px;
  top: 1px;
  border-bottom-left-radius: 0.2cm;
  border-bottom-right-radius: 0.2cm;
}
