body {
  background-color: whitesmoke;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.page-console {
  margin-left: 20px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 14px;
  border: 2px solid gray;
  width: 370px;
  min-width: 370px;
  max-width: 370px;
}

canvas {
  border-radius: 8px;
  background-color: white;
}
button {
  background-color: black;
  text-align: center;
  color: white;
  padding: 10px 25px;
  border: 0;
  border-radius: 14px;
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  margin: 5px;
}

.console-buttons {
  padding: 20px;
  width: 72%;
}

button:hover {
  background-color: #424242;
}

#start {
  background-color: darkgreen;
}

#start:hover {
  background-color: seagreen;
}

#stop {
  background-color: #bb550d;
}

#stop:hover {
  background-color: #dc4d01;
}

#reset {
  background-color: midnightblue;
}

#reset:hover {
  background-color: royalblue;
}

#reload {
  background-color: darkred;
}

#reload:hover {
  background-color: brown;
}
.console-speed-slider {
  display: flex;
  flex-direction: row;
}

.console-speed-slider p {
  font-weight: bold;
  font-size: 12px;
  margin-right: 10px;
}

.console-speed-slider input {
  border: 10px solid white;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.particle-counter {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

#particle-counter-text {
  font-weight: bold;
  margin-right: 10px;
  padding: 10px;
  padding-left: 0;
}

#particle-counter-value {
  border: 1px solid grey;
  background-color: beige;
  padding: 8px 20px 8px 20px;
  width: 50px;
  text-align: center;
}

.particle-number-setter {
  display: flex;
  padding: 10px;
  min-width: 100%;
  justify-content: center;
}

#particle-number-setter-value {
  border: 1px solid grey;
  background-color: beige;
  min-width: 50%;
  text-align: center;
  padding: 8px 20px 8px 20px;
}
#particle-number-setter-value:focus {
  outline: none !important;
  border: 1px solid thistle;
}
